.main__btn {
	background-color: none;
	position: relative;
	background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
	&::after{
		content: '';
		position: absolute;
		z-index: 1;
		width: 0%;
		height: 100%;
		top:0;
		right: 0px;
		background: linear-gradient(104.58deg,#09a7ca21  10.57%, #056088 96.62%);
		transition: all 0.5s ease-in-out;
	}
	&:hover{
		&::after{
			width: 100%;
		}
	}
	a{
	position: relative;
	z-index: 3;
	display: block;
	color: white;
	text-align: center;
	width: 158px;
	height: 72px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 70px;
	transition: all 0.2s ease-in-out;
	&:hover{
		.main__btn::after{
			width: 100%;
		}
	}
	}
	
}