//====<BRAKEPOINTS>=======
$md1: 999.98px;
$md2: 767.98px;
$md3: 479.98px;
$md4: 319.98px;
//====<BRAKEPOINTS>=======

// Fonts =================
@font-face {
	font-family: Roboto;
	src: url(/font/Roboto-Regular.ttf);
}
@font-face {
	font-family: Poppins;
	src: url(/font/Poppins-Regular.ttf);
}
// Fonts =================

