.works__cards {
	position: relative;
	margin: 100px auto;
	max-width: 900px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 5px 0 5px;
}
.works__card {
	width: 100%;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.301);
}
.works__card-img {
	height: 250px;
}
.works__card-info {
	padding: 30px;
}
.works__card-title {
}
.works__card-sub-title {
	margin-bottom: 32px;
}
.main__btn {
}

@media(min-width: $md3) {
	.works__card {
		max-width: 420px;
		margin-bottom: 10px;
	}
}
@media(min-width: 850px) {
	.works__cards {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
@media(min-width: $md1){
	.works__cards{
		max-width: 1300px;
	}
}